
<br> <br>

A Twitter visualizer from a real-time stream of random tweets

<br> <br>

Made by <a href='http://www.brutenorhuman.com'>Anders Lundgren</a>

<br> <br>

Animation inspired by Ryan Henszey's 
<a href = 'http://timelessname.com/sandbox/matrix.html'> demo of canvas animation</a>

<br> <br> <br>

<table>
	<tr>
		<td>
			<a href = 'vertical'> &#8675; &#8675; &#8675; &#8675; &#8675; &#8675;</a>
		</td>
		<td>
			<a href = 'horizontal'> &#8674; &#8674; &#8674; &#8674; &#8674;</a>
		</td>
	</tr>
</table>
