@font-face {
  font-family: 'matrix';
  src: url('./fonts/ocra-webfont.woff') format('woff');
}

body {
  background-color: #010101;
  margin: 0;
  overflow: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'matrix';
}

.box-body {
  position: relative;
  z-index: 0;
}

.info-icon {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #5C5;
  cursor: pointer;
  background-color: #010101;
}

.info-pane { 
  color: orange;
}

.info-icon        { z-index: 2; }
.info-pane        { z-index: 1; }
.canvas-container { z-index: 0; }
