@font-face {
  font-family: 'matrix';
  src: url('./fonts/ocra-webfont.woff') format('woff');
}

body {
  background-color: #010101;
  margin: 0;
  overflow: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'matrix';
}

html, body, #app-root, .box-body {
  height: 100%;
}

.box-body {
  position: relative;
  z-index: 0;
}

.info-icon {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #5C5;
  cursor: pointer;
  background-color: #010101;
}

.info-pane { 
  color: rgb(146, 202, 146);
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #010101;
  height: 400px;
  width: 300px;
  border-top: 2px solid #5C5;
  border-right: 2px solid #5C5;
  border-top-right-radius: 5px;
  padding:10px;
  font-family: sans-serif;
}

.info-pane-item {
  padding: 15px 5px;
}

.info-icon        { z-index: 2; }
.info-pane        { z-index: 1; }
.canvas-container { z-index: 0; }

.displayCanvas {
  width: 100%;
  height: 100%;
}

.subreddit {
  border: 1px solid rgb(146, 202, 146);
  border-radius: 5px;
  color: white;
  cursor: default;
}

.add-entry-input-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.add-entry-input-row input {
  background-color: #303030;
  color: rgb(146, 202, 146);
}

.add-entry-container {
  margin: 10px 0px;
}

.add-entry {
  color: #010101;
  background-color: rgb(146, 202, 146);
  border-radius: 7px;
  padding: 4px;
  cursor: pointer;
}

.add-entry-icon-button {
  border: 1px solid rgb(146, 202, 146);
  padding: 3px;
  border-radius: 5px;
  width: 20px;
  cursor: pointer;
}

.add-entry-text-input {
  padding: 3px;
}

.remove-button {
  cursor: pointer;
}